/* THEME VARIABLES */
:root {
  --card-bg: rgba(255, 255, 255, 0.75);
  --text: #111;
  --table-head: #1e293b;
}

body.dark {
  --card-bg: rgba(0, 0, 0, 0.55);
  --text: #f8fafc;
  --table-head: #020617;
}

/* BODY BACKGROUND */
body {
  margin: 0;
  font-family: "Times New Roman", serif;
  color: var(--text);

  background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("https://www.justwatch.com/images/backdrop/189446650/s1440/sarkar-2018");

  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: var(--card-bg);
  backdrop-filter: blur(15%);
}

/* LAYOUT */
.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  min-height: calc(100vh - 70px);
}

/* SIDEBAR */
.sidebar {
  background: var(--card-bg);
  backdrop-filter: blur(15%);
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}


.content {
  padding: 20px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  background: var(--card-bg);
  backdrop-filter: blur(15%);
  padding: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}

.table-section {
  background: var(--card-bg);
  backdrop-filter: blur(15%);
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: var(--table-head);
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background: rgba(0,0,0,0.05);
}

/* BUTTON */
button {
  padding: 8px 14px;
  cursor: pointer;
}
